<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:fragment="header">
    <script th:attr="src=@{/statics/js/jquery.min.js}"></script>
    <script th:attr="src=@{/statics/js/jquery.easyui.min.js}"></script>
    <link th:attr="href=@{/statics/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:attr="href=@{/statics/css/bootstrap/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<!--
    <link th:attr="href=@{/statics/css/easyui/themes/default/easyui.css}" rel="stylesheet"/>
    <link th:attr="href=@{/statics/css/easyui/themes/default/icon.css}" rel="stylesheet"/>

-->
</html>